@model IEnumerable<Musify_Web.Models.Album>

@{
    ViewBag.Title = "Artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Albums</h2>
<div class="col-lg-12">
        <p><a href="@Url.Action("Create", "Album")" class="btn btn-primary btn-block btn-lg">Add Artist</a></p>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <input type="text" id="searchBar" onkeyup="searchItem()" placeholder="Search for Artist..">
        </div>
    </div>
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover" id="indexTbl">
                <thead>
                    <tr class="info">
                        <th>
                            Name
                        </th>
                        <th>
                            Release Date
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Artist
                        </th>
                        <th>
                            Created At
                        </th>
                        <th>
                            Last Updated
                        </th>
                        <th>
                            Actions
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="clickable-row" data-href="@Url.Action("Details", new {id = item.Id})">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td class="clickable-row" data-href="@Url.Action("Details", new {id = item.Id})">
                                @Html.DisplayFor(modelItem => item.ReleaseDate)
                            </td>
                            <td class="clickable-row" data-href="@Url.Action("Details", new {id = item.Id})">
                                @Html.DisplayFor(modelItem => item.ImageBigUrl)
                            </td>
                            <td class="clickable-row" data-href="@Url.Action("Details", new {id = item.Id})">
                                @Html.DisplayFor(modelItem => item.Artist.Name)
                            </td>
                            <td class="clickable-row" data-href="@Url.Action("Details", new {id = item.Id})">
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>

                            <td class="clickable-row" data-href="@Url.Action("Details", new {id = item.Id})">
                                @if (item.UpdatedAt != item.CreatedAt)
                                {
                                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                                }
                                else
                                {
                                    @:-
                            }
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Artists", new {id = item.Id})" class="btn btn-warning">Edit</a>
                            </td>

                            <td>
                                <a href="@Url.Action("Delete", "Artists", new {id = item.Id})" class="btn btn-danger">Delete</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
